# Node Modules
node_modules/

# local test database
data

# ignore dist files
public/dist/

# ignore public upload images
# public/uploads

# Any Error Logs
*.log

.DS_Store
.idea

# Local Variables
variables.env