@import "modules/_colors";

@import "partials/_normalize";
@import "partials/_general";
@import "partials/_nav";
@import "partials/_flashMessage";
@import "partials/_aboutpage";
@import "partials/_pagination";

@import "partials/_whiskypage";
@import "partials/_whiskyCard";
@import "partials/_review";

@import "partials/_reviewForm";
@import "partials/_userForm";
@import "partials/_commentForm";
@import "partials/_passwordReset";

@import "partials/_footer";