@import "modules/_colors";

@import "partials/_normalize";
@import "partials/_general";
@import "partials/_nav";
@import "partials/_flashMessage";

@import "partials/_whiskyCard";

@import "partials/_reviewForm";
@import "partials/_userForm";
@import "partials/_review";

@import "partials/_footer";