doctype html
html
  head
    meta(name='viewport', content='width=device-width')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    style
      include styles.css
  body
    .container.email-password-reset
      h2.email-password-reset__title Password Reset

      a.email-password-reset__button(href=resetURL, target="_blank") Reset My Password

      p.email-password-reset__message If you can't click the button above, please visit:
        br 
        | #{resetURL}

      p.email-password-reset__message If you didn't request this email, please ignore it.