doctype html
html
  head
    meta(name='viewport', content='width=device-width')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    style
      include styles.css
  body
    h1 This is a test.
    p Here is your Password Reset Link
    a(href=resetURL, target="_blank")= resetURL