extends layout

block content
  #about.about
    h2.title= title

    p This is a NodeJS Application serving HTML with PUG View Engine.  This is a project to keep whisky tasting notes and share with others.

    br

    p The Email service being used is currently 
      a.about__link(href="https://mailtrap.io/" title="https://mailtrap.io") mailtrap
      |, which is a email testing environment for development. I plan on signing up for email providers later on. This website is currently for learning and for future use. 

    br
  
    p To see the full code, please visit:

    br

    a.about__link(href="https://github.com/SageMSK/whisky-review" title="https://github.com/SageMSK/whisky-review") https://github.com/SageMSK/whisky-review