doctype html
html
  head
    title= `${title} | ${h.websiteName}`
    meta(name="viewport" content="width=device-width, initial-scale=1")
    
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Raleway|Roboto")
    link(rel='stylesheet', href='/dist/style.css')
  body

    block messages
      if locals.flashes
        .container
          .flash-messages
            - const categories = Object.keys(locals.flashes)
            each category in categories
              each message in flashes[category]
                .flash(class=`flash--${category}`)
                  p.flash__text!= message
                  button.flash__remove(onClick="this.parentElement.remove()") &times;
                  
    block content

    block scripts
      script(src="/dist/App.bundle.js")