extends layout

block content
  form.form.userForm(action="/login" method="POST")
    h2= title

    label(for="email") Email
    input(type="text" name="email" placeholder="Email" required)

    label(for="password") Password
    input(type="password" name="password" placeholder="Password" required)
    a.userForm__forgot(href="/") Forgot your password?

    input.button(type="submit" value="Log In")

    hr.underline

    p.userForm__message Don't have an account? 
      a.userForm__link(href="/register") Create Your Free Account