extends layout

//- Remove the header and footer
block header
block footer

block content
  form.form.password-reset-form(action=`/password_reset` method="POST")
    h1.password-reset-form__brand Whisky Review
    h3= title
    p.password-reset-form__message Enter your email associated with your account to receive a password reset email.

    hr.underline

    label(for="email") Email
    input(type="email" name="email" placeholder="Email" required)

    input.button(type="submit" value="Send Email")
    a.button.cancel(href="/login") Cancel