extends layout

include mixins/_whiskyCard

block content
  .whisky
    h2.title= title
      if user
        a.button.whisky__button(href="/add") Add
  
  .inner-flex-container
    each review in reviews
      +whiskyCard(review)

  //- .pagination
  //-   p Page 1 / -