mixin commentForm(review)
  form.commentForm(action=`/comments/${review._id}` method="POST")
    h2 Hello #{review.name}
    textarea(name="message" placeholder="Care to leave a comment?")
    input.button(type="submit" value="Post The Comment")