mixin whiskyCard(review = {})
  .whiskycard
    img.whiskycard__img(src="stuff" alt="stuff" title="stuff")
    .whiskycard__info
      h3.whiskycard__title
        a(href=`/whisky/${review.slug}`) #{review.name}
      p.whiskycard__detail #{review.description.split(' ').slice(0, 20).join(' ')}