mixin whiskyCard(review = {})
  .whisky
    img(src="stuff" alt="stuff" title="stuff")
    h2.title
      a(href=`/whisky/${review.slug}`) #{review.name}
    .whisky__details
      p= review.description.split(' ').slice(0, 20).join(' ')