.account-page {
  display: flex;
  flex-flow: row wrap;

  &__header {
    flex: 1 100%;
  }

  &__title {
    padding: 10px;
    margin: 10px 0;
  }

  &__underline {
    border: none;
    border-bottom: 1px solid $light-black;
  }

  &__userform {
    margin: 10px;
    padding: 10px;
    border: 1px solid $border-color;
    background-color: $white;
    border-radius: 2px;
    flex: 1 auto;
    width: 250px;
  }

  .whisky-list {
    padding: 10px;
    flex: 1 auto;

    &__title {
      padding: 5px;
    }

    &__whisky--link {
      border-bottom: 1px solid $light-black;
      padding: 20px;
      width: 100%;
      border-radius: 2px;

      &:hover {
        background-color: $dark-amber;
      }
    }
  }
}