body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}

h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

a {
  display: block;
  text-decoration: none;
  color: black;
}

.title {
  margin: 25px 0;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.inner-flex-container {
  display: flex;
  flex-wrap: wrap;
}

.button {
  border: none;
  color: white;
  font-size: 20px;
  background: rgb(242, 209, 48);
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;

  &:hover {
    background: rgb(255, 219, 48);
    cursor: pointer;
  }
}

/* 
  BASIC FORM
 */
.form {
  margin: 50px auto 50px auto; // center
  background: white;
  border: 1px solid $light-grey;
  border-radius: 5px;
  -webkit-box-shadow: 1px 2px 13px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 2px 13px -5px rgba(0,0,0,0.75);
  box-shadow: 1px 2px 13px -5px rgba(0,0,0,0.75);
}

input, textarea {
  width: 100%;
  border: 1px solid $grey;
  padding: 10px;
}

input[type=submit] {
  width: 100%;
}

input[type=text] {
  font-family: 'Raleway', sans-serif;
}

input::placeholder {
  color: $light-grey;
}

label {
  padding: 10px 0;
  display: block;
  font-weight: 600;
}