.header {
  box-shadow: 0 4px 2px -2px $light-grey;
}

.nav {
  padding: 0;
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  font-size: 18px;
  list-style: none;
  justify-content: space-between;

  &__section {
    display: flex;

    &--pages {
      justify-content: flex-end;
    }
  }

  &__item {
    display: flex;
  }

  &__link {
    display: flex;
    padding: 20px;
    align-self: center;
    
    &:hover {
      background: $light-grey;
    }

    &--active {
      background-color: $light-grey;
      color: white;
    }
  }

  .dropbtn {
    cursor: pointer;
    color: blue;
  }

  .dropdown {
    position: relative;

    &__content {
      display: none;
      position: absolute;
      background: white;
      min-width: 160px;
      z-index: 1;
      right: 0;
      border: 1px solid $light-grey;
    }

    &__link {
      color: black;
      padding: 15px;
      display: block;

      &:hover {
        background: rgb(250, 250, 250);
      }
    }

    .logout {
      color: red;
    }
  }

  .show {
    display: block;
  }
}