.nav {
  padding: 0;
  margin: 0 auto;
  max-width: 1200px;
  color: blue;
  display: flex;
  font-size: 18px;
  list-style: none;
  justify-content: space-between;
  border: 1px solid red;
  &__section {
    display: flex;

    &--pages {
      justify-content: flex-end;
    }
  }

  &__item {
    display: flex;
    border: 1px solid green;
  }

  &__link {
    display: flex;
    padding: 20px;
    color: black;
    align-self: center;
    
    &:hover {
      background-color: rgba(0,0,0, 0.2);
    }

    &--active {
      background-color: black;
      color: white;
    }
  }

  .dropbtn {
    cursor: pointer;
  }

  .dropdown {
    position: relative;

    &__content {
      display: none;
      position: absolute;
      background: white;
      min-width: 160px;
      z-index: 1;
      right: 0;
      border: 1px solid black;
    }

    &__link {
      color: black;
      padding: 15px;
      display: block;

      &:hover {
        background: rgb(241, 241, 241);
      }
    }

    .logout {
      color: red;
    }
  }

  .show {
    display: block;
  }
}