.header {
  background-color: $secondary-lighter;
  box-shadow: 0 3px 1px -3px $light-black;
}

.nav {
  padding: 0;
  margin: 0 auto;
  display: flex;
  font-size: 18px;
  list-style: none;
  justify-content: space-between;

  &__section {
    display: flex;

    &--pages {
      justify-content: flex-end;
    }
  }

  .brand {
    padding: 20px 10px;
  }

  &__item {
    display: flex;
  }

  &__link {
    display: flex;
    padding: 20px 15px;
    align-self: center;
    color: $white;
    
    &:hover {
      background: $secondary-hover;
    }

    &--active {
      background-color: $secondary-hover;
    }
  }

  .dropdowndiv {
    padding: 5px;
  }

  .avatar {
    max-width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .dropbtn {
    cursor: pointer;
    color: blue;
  }

  .dropdown {
    position: relative;

    &__content {
      display: none;
      position: absolute;
      text-align: center;
      background: white;
      min-width: 150px;
      z-index: 1;
      right: 0;
      border: 1px solid $border-color;
    }

    &__link {
      color: black;
      padding: 15px;
      display: block;

      &:hover {
        background: rgb(250, 250, 250);
      }
    }

    .logout {
      color: red;
    }
  }

  .show {
    display: block;
  }
}