.password-reset-form {
  max-width: 500px;
  padding: 25px;

  &__brand {
    margin-top: 10px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
  }

  &__message {
    padding-top: 5px;
    font-size: 0.9rem;
    color: $grey;
  }

  .cancel {
    text-align: center;
    font-weight: 500;
    background: rgb(224, 62, 62);

    &:hover {
      background: rgb(239, 76, 76);
    }
  }
}