.review {
  font-family: 'Roboto', sans-serif;
  padding: 5px;
  display: flex;
  flex-flow: row wrap;
  
  &__header, &__info-section, &__comment-section {
    flex: 1 100%;
  }

  &__info-section {
    width: 350px;
    flex: 1 auto;
    padding: 5px;
  }

  &__title {
    margin-top: 24px;
    font-size: 1.6rem;
  }

  &__author {
    padding-left: 2px;
    font-size: 0.9rem;
    color: $grey;

    &:hover {
      color: black;
    }
  }

  &__image-aside {
    img {
      padding: 10px;
      height: 350px;
      width: auto;
      border-radius: 2px;
    }
  }

  &__info-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  &__bottle-details {
    position: relative;
    padding-left: 3px;
    font-size: 1.1rem;
    bottom: 3px;
    color: rgb(178, 101, 28);
  }

  &__description {
    margin: 20px 0;
  }

  &__details {
    border: 2px solid $grey;
    border-radius: 2px;
    padding: 13px;

    &--msg {
      font-size: 0.9rem;
      line-height: 2;
    }
  }

  &__button {
    position: relative;
    bottom: 3px;
    margin: 0;
    margin-left: 15px;
    padding: 5px 10px;
    display: inline-block;
  }

  .back-to-index {
    font-size: 14px;
    display: inline-block;
    padding: 5px;
    margin-top: 5px;

    &:hover {
      background: $light-grey;
    }
  }

  &__comment-section {
    margin-top: 50px;
    padding: 5px;
    border: 2px solid $grey;
  }
}

/* Small screens */
@media all and (max-width: 500px) {
  .review {
    &__image-aside {
      display: flex;
      justify-content: center;
      flex: 1 100%;
    }
  }
}