.whiskycard {
  padding: 15px;
  margin: 10px;
  width: 330px;
  border: 1px solid $light-grey;
  -webkit-box-shadow: 1px 1px 10px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 1px 10px -5px rgba(0,0,0,0.75);
  box-shadow: 1px 1px 10px -5px rgba(0,0,0,0.75);

  &__title {
    margin: 10px 0;
  }

  &__detail {
    margin: 0;
    font-size: .9rem;
  }

  &:hover {
    -webkit-box-shadow: 1px 2px 13px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 2px 13px -5px rgba(0,0,0,0.75);
    box-shadow: 1px 2px 13px -5px rgba(0,0,0,0.75);
  }
}